* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: "VT323", monospace;
    font-weight: 400;
    font-style: normal;
    color: aliceblue;
}

body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url(./img/fondo.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    overflow: auto;
}

.tarjeta-contenedora {
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    padding: 10px;
    width: 850px;
    height: auto;
    background-color: rgba(0, 0, 0, 0.808);
    border-radius: 15px;
}

h1 {
    display: flex;
    justify-content: center;
}

h1 img {
    width: 280px;
    margin-top: 15px;
}

#seleccionar-pokemon {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
    gap: 1rem;
}

.listaPokemones {
    display: flex;
    align-items: center;
    gap: 4rem
}

.listaPokemones input {
    appearance: none 
}

.listaPokemones input:checked + label{
    border: 4px solid darkorange;
    border-radius: 10px;
    padding: 5px;
}

.pikachuGif img {
    height: 190px;
    cursor: pointer;
}

.bulbasaurGif img {
    height: 190px;
    cursor: pointer;
}

.charmanderGif img {
    height: 190px;
    cursor: pointer;
}

.tarjetas {
    display: flex;
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 20px;
    transition: 0.3s ease;
    cursor: pointer;
}

.tarjetas:hover {
    background-color: darkorange;
    transform: scale(1.05);
    filter: drop-shadow(0px 0px 10px rgba(0, 0, 0, 0.5));
    cursor: pointer;
}

.tarjetas p {
    font-size: 2.5rem;
    text-align: center;
}

.btns {
    display: flex;
    justify-content: center;
    gap: 1rem;
}

.btns button{
    padding: 10px;
    color: black;
    border: none;
    border-radius: 5px;
    font-size: 22px;
    cursor: pointer;
    transition: 0.3s ease;
    margin-bottom: 10px;
}

.btns button:hover {
    background-color: darkorange;
    transform: scale(0.9);
}

.btns button:disabled {
    cursor: not-allowed;
    transform: scale(1);
}

#seleccionar-ataque {
    display: flex;
    justify-content: center;
    align-items: center;
}

#seleccionar-ataque h2 {
    font-size: 3rem;
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
    color: darkorange;
}

.info-vidas {
    margin-bottom: 20px;
    font-size: 1.5rem;
}

#span-vidas-jugador {
    color: greenyellow;
}

#span-vidas-enemigo {
    color: greenyellow;

}

#mensajes {
    background-color: rgb(28, 48, 48);
    padding: 10px 20px;
    border-radius: 10px;
}

.mensaje {
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 1.4rem;
    margin-top: 10px;
    color: white;
    font-weight: 400;
}

.mensaje-perdedor {
    background-color: DarkRed;
}
.mensaje-ganador {
    background-color: DarkGreen;
}

@media (max-width: 550px) {

    .tarjeta-contenedora {
        width: auto;
        height: auto;
        margin-top: 80px;
        margin-bottom: 80px;
        margin-left: 10px;
        margin-right: 10px;
    }

    .pikachuGif img {
        height: 80px;
    }
    
    .bulbasaurGif img {
        height: 80px;
    }
    
    .charmanderGif img {
        height: 80px;
    }

    .tarjetas p {
        font-size: 1.3rem;
    }

    .listaPokemones {
        gap: 1rem
    }

    .info-vidas {
        font-size: 1.5rem;
        margin: 20px 15px;
        margin-bottom: 40px;
    }
  }