* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

h1 {
    display: flex;
    justify-content: center;
}

h1 img {
    width: 300px;
}

#seleccionar-pokemon {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
    gap: 1rem;
}